import * as React from 'react'

import { {{ componentName }} } from './{{ componentName }}'

export default {
    component: {{ componentName }},
    title: 'Components/{{ componentName }}',
}

export const Default = () => <{{ componentName }}>Hello, world!</{{ componentName }}>
