import * as React from 'react'

export interface {{ componentName }}Props {}

export const {{ componentName }}: React.FunctionComponent<{{ componentName }}Props> = (props) => {
    return <div></div>
}
